{% extends 'layouts/main.html' %}
{% block title %}Edit Item{% endblock %}
{% block content %}
  <div>
    <form method="post" action="/items/{{item.id}}/edit">
      {{ form.csrf_token }}
      <h3>Edit item <em>{{ item.name }}</em></h3>
      <div>
        <label for="name">name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
        <label for="properties">properties</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.properties(class_ = 'form-control', placeholder='properties, separated by commas', autofocus = true) }}
      </div>
      {{ form.submit(class="some_class") }}
    </form>
  </div>
{% endblock %}
